@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
  --primary: #ffe998;
  --fondoNav: #070918;
  --texto: #f2f2f2;
  --muted: #ACACAC;
  --linear: linear-gradient(to right, #ffe998, #573700);
  --hLinear: linear-gradient(to right, #573700, #ffe998);
  --tLinear: linear-gradient(269.67deg, #573700 2.59%, #ffe998 48.56%, #2C2828 94.54%);
  --btnLinear: linear-gradient(#070918, #070918), radial-gradient(circle at top left, #ffe998 , #573700);
  --hBtnLinear: linear-gradient(#070918, #070918), radial-gradient(circle at top left, #573700, #ffe998);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--fondoNav);
  color: var(--texto) !important;
}

.textoG {
  background:  var(--linear);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  color: var(--primary);
  transition: all 0.3s ease 0s;
}

main {
  /* background-color: thistle; */
  height: 93vh;
}


/* CONFIGURACION MUI CSS */
.MuiAppBar-colorPrimary,
.MuiPaper-root {
  background-color: transparent !important;
  color: var(--texto) !important;
}

.MuiPaper-root {
  background-color: transparent !important;
}

.MuiPaper-root .colorChange{
  background-color: var(--fondoNav) !important;
  box-shadow: 0 1px 15px rgb(0 0 0 / 20%), 0 1px 8px rgb(0 0 0 / 20%);
}

.makeStyles-drawerPaper-7 {
  background: #080C1E !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: none !important;
  box-shadow: 0 1px 15px rgb(0 0 0 / 30%), 0 1px 8px rgb(0 0 0 / 20%) !important;
}

.MuiIconButton-root {
  color: var(--texto) !important;
}

.MuiListItem-root {
  text-align: center !important;
  text-transform: uppercase;
  top: 80%;
}

.MuiListItem-root:hover,
.MuiListItem-root:active {
  background:  var(--linear);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  color: var(--primary);
  transition: all 0.3s ease 0s;
}

.MuiBottomNavigation-root {
  background-color: var(--fondoNav) !important;
  bottom: 0;
  box-shadow: 0 1px 15px rgb(0 0 0 / 50%), 0 1px 8px rgb(0 0 0 / 20%);
  color: var(--texto) !important;
  height: 80px !important;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: var(--primary) !important;
  padding-top: 6px;
}

.MuiBottomNavigationAction-label.Mui-selected {
  font-size: 0.65rem !important;
  text-transform: uppercase;
}

.MuiBottomNavigationAction-root {
  color: var(--texto) !important;
  font-size: 25px;
}

.MuiLink-underlineHover {
  outline: none;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary) !important;
  border-width: 1px !important;
}
.MuiOutlinedInput-notchedOutline {
  border-color: #080C1E !important;
}

.MuiFormLabel-root {
  color: var(--muted) !important;
  text-transform: uppercase;
  font-size: 12px !important;
  letter-spacing: 0.15em !important;
  font-family: "Montserrat" !important;
}

.MuiFormLabel-root.Mui-focused {
  color: var(--primary) !important;
  font-size: 11.5px !important;
}

@keyframes mui-auto-fill {}
@keyframes mui-auto-fill-cancel {}
.MuiInputBase-root {
  color: var(--texto) !important;
  font-size: 14px !important;
  font-family: "Montserrat" !important;
  letter-spacing: 0.15em !important;
  background-color: #080C1E;
}

@-moz-keyframes mui-auto-fill {}
@-moz-keyframes mui-auto-fill-cancel {}
.MuiInputBase-root {
  color: var(--texto) !important;
  font-size: 14px !important;
  font-family: "Montserrat" !important;
  letter-spacing: 0.15em !important;
  background-color: #080C1E;
}

.MuiFormControl-root {
  margin-bottom: 20px !important;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  main {
    height: 87vh;
    margin-left: 15px !important;
    margin-right: 15px;
  }
}